*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 112, 74); 

    
}
.piano{
    height: 20rem;
    width: 75rem;
    display: flex;
    gap: 10px;
    background-color: black;
    position: relative;
   
}
.white{
    height: 100%;
    width: 4.76%;
    

    background-color: white;

    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1rem;
    box-shadow: 3px 3px 3px rgba(136, 136, 136, 0.5);
    user-select: none;
    cursor: pointer;
   
}
.black{
    top: 0;
    height: 50%;
    width: 3rem;
    background-color: black;
    
    position: absolute;
  
    z-index: 9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1rem;
    box-shadow: 3px 3px 3px rgba(136, 136, 136, 0.5);
    user-select: none;
    cursor: pointer;
    color: white;
}
.white:active{
    transform: translateY(4px);

    box-shadow: 0 0 0 rgba(0,0,0,0);
}
.black:active{
    transform: translateY(4px);

    box-shadow: 0 0 0 rgba(0,0,0,0);
}